.SearchProjectPage__image {
    height: 20vw;
    min-height: 150px;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 10px 10px 0 0;
  }
  
  .SearchProjectPage__star-list {
    /* padding-inline-start: 20px; */
    list-style-type: none;
    padding: 0;
  }
  
  .SearchProjectPage__content {
    margin-bottom: 30px;
  }
  
  .SearchProjectPage__star {
    position: relative;
  }
  
  .SearchProjectPage__star::before {
    border-color: transparent #f5f5f5;
    border-style: solid;
    border-width: 0px 0px 10px 10px;
    content: '';
    display: block;
    height: 0px;
    position: absolute;
    width: 0;
    bottom: 14px;
    right: 7px;
  }
  
  .SearchProjectPage__star-icon {
    font-size: 12pt;
    margin-right: 10px;
    vertical-align: super !important;
  }
  
  .SearchProjectPage__star-text {
    background: #f5f5f5;
    padding: 8px;
    margin-bottom: 4px;
    border-radius: 4px;
  }
  
  .SearchProjectPage__star-user {
    color: #666;
    margin: 8px 0 0;
    font-size: 10pt;
    font-weight: bold;
    text-align: right;
  }
  
  .SearchProjectPage__star-user .SearchProjectStarRating {
    display: inline;
  }
  