.project-wrapper {
	display: flex;
	flex-direction: column;
	font-size: smaller;
	text-decoration: none;
	margin-bottom: 40px;
	margin-top: 8rem;
	border: 3px solid #333333;
	border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
	letter-spacing: 0.2ch;
	background: var(--clr-light);
	position: relative;
}

.project-wrapper::before {
	content: '';
	border: 2px solid #353535;
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
	border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
}

.card {
	border: none !important;
	/* background-color: transparent !important; */
	display: flex;
	flex-flow: wrap;
	flex: 100%;
	margin-bottom: 40px;
}

.card-img-body {
	flex: 1;
	overflow: hidden;
	position: relative;
}

.schoolname {
	white-space: nowrap;
	font-weight: bold;
	text-decoration: underline;
}

@media (max-width: 576px) {
	.card-img-body {
		width: 100%;
		height: 200px;
		margin-bottom: 20px;
	}
}

.fadeIn {
	animation-name: fadeIn;
	-webkit-animation-name: fadeIn;
	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
	visibility: visible !important;
}

@keyframes fadeIn {
	0% {
		opacity: 0.0;
	}

	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0.0;
	}

	100% {
		opacity: 1;
	}
}

.review-title {
	text-transform: uppercase;
	font-weight: bold;
}

.list-group-item {
	display: flex;
	flex-direction: column;
	font-size: smaller;
	text-decoration: none;
	margin-bottom: 40px;
	margin-right: 20px;
	border: 3px solid #333333;
	border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
	text-transform: uppercase;
	letter-spacing: 0.2ch;
	background: var(--clr-light);
	position: relative;
}

.list-group-item::before {
	content: '';
	border: 2px solid #353535;
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
	border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
}