.Facebook__share {
    border: none;
    padding: 0;
    background: none;
}

@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3) { 
  .Facebook__share {
   width: 20%;
  }
}