.donation {
    background-color: #ffd55d;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 110px;
    color: black;
    font-family: 'Lilita One', cursive;
    font-weight: bolder;
  }