.Nav {
    display: flex;
    justify-content: flex-end;
    font-family: var(--ff-seconday);
    color: var(--clr-purple);
    padding: 1rem;
    font-size: 1.25rem;
}


p {
    padding-right: 30px;
}

