.Register-main {
    border-radius: .25rem;
    border-style: solid;
    border-width: 1px;
    color:  var( --clr-purple);
    border-color: rgba(0, 0, 0, .1);
    margin-top: 1rem;
    margin-bottom: 2rem;
    max-width: 16rem;
    padding: 2rem;
    color: rgba(0, 0, 0, .8);
}

.Register-form {
    max-width: 30em;
}

.Register-fieldset {
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

.Register-legend {
    font-size: 1.25rem;
    font-weight: 600;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

.Register-full_name {
    margin-top: 1rem;
}

.Fullname-label,
.Password-label,
.New-user_name-label {
    display: block;
    font-weight: 600;
    line-height: 1.5;
    font-size: .875rem;
}

.Fullname-input,
.Password-input,
.New-user_name-input {
    padding: .5rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-style: solid;
    border-width: 1px;
    background-color: transparent;
    width: 100%;
}

.Fullname-input:hover {
    background-color: var( --clr-purple);
}

.Fullname-input:focus {
    color: var( --clr-fun);
}

.Password-input:hover {
    background-color: var( --clr-purple);
}

.Password-input:focus {
    color: var( --clr-fun);
}

.New-user_name-input:hover {
    background-color: var( --clr-purple);
}

.New-user_name-input:focus {
    color: var( --clr-fun);
}

.Register-button,
.Cancel-button {
    line-height: 1.5;
    margin-top: 1rem;
}

.Register-button-input,
.Register-cancel-button-input {
    display: inline-block;
    font-weight: bold;
    font-size: .875rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-style: solid;
    border-width: 1px;
    border-color: #000;
    background-color: transparent;
    /* -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden; */
    /* transform: translateZ(0); */
    /* transition: transform .25s ease-out; */
}

.Register-button-input:hover,
.Register-cancel-button-input:hover {
    cursor: pointer;
}

.red {
    color: red;
}

.center {
    margin-right: auto;
    margin-left: auto;
}

button {
    cursor: pointer;
  }
  