.Register-form {
    width: 500px;
}

input[class="reg-input"]{
    height: 52px;
    margin-top: 2%;
    padding: 15px;
    font-size: 16px;
    color: var(--clr-gray);
    outline: none;
    border: none;
    border-radius: 5px;
    transition: 0.2s linear;
}

input[id="reg-fullname"],
input[id="reg-username"],
input[id="reg-password"] {
    width: 350px;
}

/* iphone6/7/8 */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/*iphonex */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
   
}

/* tablet */
@media only screen 
  and (min-device-width: 400px) 
  and (max-device-width: 568px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    
}
    

/* ipad */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
   
}

/* ipadpro */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {
  
}