.App-header {
    margin-top: 50px;
}

section {
    min-height: 200px;
    font-family: var(--ff-secondary);
    color: var(--clr-purple);
}

section > p {
    text-align: center;
}

ul {
    list-style-type: none;
    text-align: center;
}

* + ul {
    margin-top: 1rem;
}


.card {
    width:280px;
    display: block;
    margin: 60px auto;
    margin-top: -1rem;
    box-shadow: 10px 5px 40px 20px darken(#341cac, 5%);
    transition: .25s;
}
