.Login-main {
    border-radius: .25rem;
    border-style: solid;
    border-width: 1px;
    color: var( --clr-purple);
    border-color: rgba(0, 0, 0, .1);
    margin-bottom: 3rem;
    max-width: 16rem;
    padding: 2rem;
    border-radius: 10px;
    letter-spacing: 2px;
    -webkit-box-shadow: -11px 10px 6px -1px rgba(54,34,69,0.72);
    -moz-box-shadow: -11px 10px 6px -1px rgba(54,34,69,0.72);
    box-shadow: -11px 10px 6px -1px rgba(54,34,69,0.72);
    background-color: #12CAD6;
}

.Login-form {
    max-width: 30em;
}

.Login-fieldset {
    text-transform: uppercase;
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

.Login-legend {
    font-size: 1.25rem;
    font-weight: 600;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

.Login-user_name {
    margin-top: 1rem;
}

.Username-label,
.Password-label {
    display: block;
    font-weight: 600;
    line-height: 1.5;
    font-size: .875rem;
}

.Username-input,
.Password-input {
    padding: .5rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-style: solid;
    border-width: 1px;
    background-color: transparent;
    width: 100%;
    border-radius: 10px;
}

.Username-input:hover {
    background-color: #0FABBC;
}


.Password-input:hover {
    background-color: #0FABBC;
}


.Login-button,
.Cancel-button {
    line-height: 1.5;
    margin-top: 1rem;
}

.Login-button-input,
.Login-cancel-button-input {
    display: inline-block;
    font-weight: bold;
    font-size: .900rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-style: solid;
    border-width: 1px;
    border-color:#222831;
    border-radius: 10px;
    text-transform: uppercase;
    background-color: transparent;
     color: var( --clr-purple);
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform .25s ease-out;
}


/* iphone6/7/8*/
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .Login-main {
        margin-top: 30%;
    }
}


/* iphoneX */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .Login-main {
        margin-top: 30%;
    }
}

/* tablet */
@media only screen 
  and (min-device-width: 400px) 
  and (max-device-width: 568px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .Login-main {
        margin-top: 30%;
        max-width: 15rem;
    }
    .Login-legend {
        font-size: 1rem;
    }
    .Username-label {
        font-size: 1rem;
    }
    .Password-label {
        font-size: 1rem;
    }
    .Username-input,
    .Password-input {
        font-size: 1rem;
    }
    .Login-button {
        max-width: 20rem;
    }
    .Cancel-button {
        max-width: 20rem;
    }
}
    

/* ipad */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .Login-main {
        margin-top: 20%;
        max-width: 20rem;
    }
    .Login-legend {
        font-size: 2.0rem;
        font-weight: 600;
    }
    .Username-label {
        font-size: 1.25rem;
    }
    .Password-label {
        font-size: 1.25rem;
    }
    .Username-input,
    .Password-input {
        font-size: 1rem;
    }
    .Login-button {
        max-width: 30rem;
    }
    .Cancel-button {
        max-width: 30rem;
    }
}

/* ipadpro */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .Login-button-input {
        font-size: 1.5rem;
    }
    .Login-cancel-button-input {
        font-size: 1.5rem;
    }
}
