.Login-main {
    border-radius: .25rem;
    border-style: solid;
    border-width: 1px;
    color: var( --clr-purple);
    border-color: rgba(0, 0, 0, .1);
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-width: 16rem;
    padding: 2rem;
    color: rgba(0, 0, 0, .8);
}

.Login-form {
    max-width: 30em;
}

.Login-fieldset {
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

.Login-legend {
    font-size: 1.25rem;
    font-weight: 600;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

.Login-user_name {
    margin-top: 1rem;
}

.Username-label,
.Password-label {
    display: block;
    font-weight: 600;
    line-height: 1.5;
    font-size: .875rem;
}

.Username-input,
.Password-input {
    padding: .5rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-style: solid;
    border-width: 1px;
    background-color: transparent;
    width: 100%;
}

.Username-input:hover {
    background-color: var( --clr-purple);
}

.Username-input:focus {
    color: var( --clr-fun);
}

.Password-input:hover {
    background-color: var( --clr-purple);
}

.Password-input:focus {
    color: var( --clr-fun);
}

.Login-button,
.Cancel-button {
    line-height: 1.5;
    margin-top: 1rem;
}

.Login-button-input,
.Login-cancel-button-input {
    display: inline-block;
    font-weight: bold;
    font-size: .875rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-style: solid;
    border-width: 1px;
    border-color: #000;
    background-color: transparent;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform .25s ease-out;
}

.Login-button-input:hover,
.Login-cancel-button-input:hover {
    cursor: pointer;
}

.Register-link {
    line-height: 1.5;
    margin-top: 1rem;
}

.Login-register-link {
    display: block;
    opacity: 1;
    transition: opacity .15s ease-in;
    font-size: .875rem;
    text-decoration: none;
    transition: color .15s ease-in;
    color: #000;
}

.center {
    margin-right: auto;
    margin-left: auto;
}

button {
    cursor: pointer;
  }
  