.Logo {
  position: relative;
  padding-top: 20px;
}

.brand_logo {
  position: absolute;
  top: -25px;
  left: -55px;
  padding: 15px;
}

/* iphone6/7/8 */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .brand_logo {
     top: -60px;
     left: -30px;
  }

}


/* iphoneX */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
   .brand_logo {
     top: -60px;
     left: -30px;
   }
}

/* ipad */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  img {
    max-width: 200%;
    max-height: 200%;
  }
}

/* ipadpro */
@media only screen and (min-device-width: 834px) and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 2) {
  img {
    max-width: 320%;
    max-height: 320%;
  }
}