.Nav {
    display: flex;
    justify-content: flex-end;
    font-family: var(--ff-seconday);
    color: var(--clr-purple);
    padding: 1rem;
    font-size: 1.25rem;
}

p {
    padding-right: 30px;
}

.dim {
    opacity: 1;
    transition: opacity .15s ease-in;
}

.dim:hover,
.dim:focus {
    opacity: .5;
    transition: opacity .15s ease-in;
}

.dim:active {
  opacity: .7; transition: opacity .15s ease-out;
}

/* .underline-hover:hover,
.underline-hover:focus {
    text-decoration: underline;
} */

button {
  cursor: pointer;
}
