.ProjectListItem {
    background: none;
    display: flex;
    flex-direction: column;
    border: 3;
    font-size: smaller;
    text-decoration: none;
    margin-bottom: 40px;
    margin-right: 20px;
    border-radius: 5px;
    -webkit-box-shadow: -11px 10px 6px -1px rgba(54,34,69,0.72);
    -moz-box-shadow: -11px 10px 6px -1px rgba(54,34,69,0.72);
    box-shadow: -11px 10px 6px -1px rgba(54,34,69,0.72);
    background-color: #12CAD6;
  }
  
  .ProjectListItem,
  .ProjectListItem:visited {
    color: 222831;
  }
  
  .ProjectListItem__image {
    height: 250px;
    width: 275px;
    border-radius: 10px 10px 0 0;
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .ProjectListItem__details {
    padding: 10px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    width: 275px;
  }
  
  .ProjectListItem__details h2 {
    margin: 0;
  }
  
  .ProjectListItem__details .ProjectStarRating {
    padding: 5px 0;
    text-align: center;
    opacity: 0.85;
  }
  
  .ProjectListItem__details span {
    display: block;
    text-align: center;
    opacity: 0.5;
  }

  @media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    .ProjectListItem {
      margin-top: 1%;
  }
}
  