.ProjectListItem {
    display: flex;
    flex-direction: column;
    font-size: smaller;
    text-decoration: none;
    margin-bottom: 40px;
    margin-right: 20px;
    font-family: 'Just Another Hand', cursive;
    border: 3px solid #333333;
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    text-transform: uppercase;
    letter-spacing: 0.2ch;
    background: var(--clr-light);
    position: relative;
  }

  .ProjectListItem::before {
    content: '';
    border: 2px solid #353535;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
    border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
}
  
  .ProjectListItem,
  .ProjectListItem:visited {
    color: #222831;
  }
  
  .ProjectListItem__image {
    height: 250px;
    width: 275px;
    border-radius: 10px 10px 0 0;
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .ProjectListItem__details {
    padding: 10px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    width: 275px;
  }
  
  .ProjectListItem__details h2 {
    margin: 0;
  }

  .ProjectListItem__description {
    text-transform: uppercase;
    text-align: justify;
    font-size: 1rem;
    font-weight:  var(--fw-bold);
    letter-spacing: 0.3ch;
  }
  
  .ProjectListItem__details .ProjectStarRating {
    padding: 5px 0;
    text-align: center;
    opacity: 0.85;
  }
  
  .ProjectListItem__details span {
    display: block;
    text-align: center;
    font-weight: var(--fw-bold);
    color: var(--clr-red);
  }

  @media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    .ProjectListItem {
      margin-top: 1%;
  }
}
  