.ProjectListItem {
    background: none;
    display: flex;
    flex-direction: column;
    border: 3;
    font-size: smaller;
    text-decoration: none;
    margin-bottom: 40px;
    margin-right: 20px;
    border-radius: 10px;
    -webkit-box-shadow: -11px 10px 6px -1px rgba(54,34,69,0.72);
    -moz-box-shadow: -11px 10px 6px -1px rgba(54,34,69,0.72);
    box-shadow: -11px 10px 6px -1px rgba(54,34,69,0.72);

    background: #ECE9E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }
  
  .ProjectListItem:hover {
    cursor: pointer;
  }
  
  .ProjectListItem,
  .ProjectListItem:visited {
    color: #555;
  }
  
  .ProjectListItem__image {
    height: 250px;
    width: 275px;
    border-radius: 10px 10px 0 0;
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .ProjectListItem__details {
    padding: 10px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    width: 275px;
  }
  
  .ProjectListItem__details h2 {
    margin: 0;
  }
  
  .ProjectListItem__details .ProjectStarRating {
    padding: 5px 0;
    text-align: center;
    opacity: 0.85;
  }
  
  .ProjectListItem__details span {
    display: block;
    text-align: center;
    opacity: 0.5;
  }
  