.Btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #D75A35;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 15px 32px;
    cursor: pointer;
}

.Btn__inner {
    color: var(--clr-light);
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: var(--ff-primary);
}