.Btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5em 2.5em;
    background: var(--clr-light);
    margin-top: 5px;
    margin-bottom: 20px;
}

.Btn__inner {
    color: var(--clr-purple);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    font-family: var(--ff-primary);
}