.Header {
	height: 40px;
	display: flex;
	justify-content: space-between;
}

.Header a {
	color: var(--txt-clr);
	text-decoration: none;
	font-weight: var(--fw-bold);
	text-transform: capitalize;
}

.Header__not-logged-in {
	display: flex;
	cursor: pointer;
}

.link1:hover,
.link2:hover,
.link3:hover,
.link4:hover {
	text-decoration: underline;
}
