.Proj-intro {
    display: flex;
    text-align: center;
    color: #222831;
    margin-top: 8%;
}

.Proj-name {
    font-size: 50pt;
    text-transform: uppercase;
    font-weight: 800;
}

.Proj-details {
    list-style-type: none;
    font-size: 1.75rem;
    font-weight: var(--fw-reg);
    text-transform: capitalize;
}

.Proj-demo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1%;
    font-size: 2.25rem;
    font-weight: var(--fw-reg);
    color: var(--clr-dark);
    text-transform: lowercase;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .Proj-intro {
        margin-top: 30%;
     }

    .Proj-name {
         font-size: 25pt;
         font-weight: 800;
     }
     
     ul {
         font-size: 15pt;
         text-align: start;
     }
     
     .Proj-demo {
         font-size: 18pt;
     }
 }
 

/* galaxy */
@media only screen 
  and (min-device-width: 360px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .Proj-intro {
        margin-top: 25%;
     }

     .Proj-name {
         font-size: 23pt;
         font-weight: 800;
     }
     
     ul {
         font-size: 17pt;
     }
     
     .Proj-demo {
         font-size: 20pt;
     }
 }


/* iphone6/7/8 */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .Proj-name {
        font-size: 25pt;
        margin-left: 10%;
    }
    
    ul {
        font-size: 15pt;
        font-weight: 800;
        text-align: center;
    }
    
    .Proj-demo {
        font-size: 20pt;
    }
}

/*iphonex */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) {
    .Proj-name {
        font-size: 30pt;
    }
    
    ul {
        font-size: 20pt;
    }
    
    .Proj-demo {
        font-size: 25pt;
    }
   
}

/* ipad */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .Proj-intro {
        margin-top: 15%;
    }
    .Proj-name {
        font-size: 40pt;
    }
    
    ul {
        font-size: 25pt;
    }
    
    .Proj-demo {
        font-size: 30pt;
    }
  
}

/* ipadpro */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .Proj-name {
        font-size: 50pt;
    }
    
    ul {
        font-size: 30pt;
    }
    
    .Proj-demo {
        font-size: 35pt;
    }
  
}

