*,
*::before,
*::after {
    box-sizing: border-box;
  }

:root {
  --ff-primary: 'Just Another Hand', cursive;
  --ff-secondary: 'Open Sans', sans-serif;
  --ff-tertiary: 'Montserrat', sans-serif;

	--fw-reg: 500;
	--fw-bold: 700;
	
	--clr-light: #fff;
  --clr-dark: #303030;
  --clr-gray: #3D495A;
  --clr-yellow: #CEA20D;
  --clr-red: #D75A35;
  --clr-blue: #0027CC;
  --clr-gold: #ffd700;
  --clr-attn: #ff0033;
  --clr-orange: #FB4D3D;
    
	--fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
  --fs-small: .9rem;

  --spacing-none: 0;
  --spacing-extra-small: .25rem;
  --spacing-small: .5rem;
  --spacing-medium: 1rem;
  --spacing-large: 2rem;
  --spacing-extra-large: 4rem;
  --spacing-extra-extra-large: 8rem;
  --spacing-extra-extra-extra-large: 16rem;
}

.center {
  display: flex;
  justify-content: center;
}

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #0E1630;
}

html::-webkit-scrollbar {
  width: 20px;
  background-color:#0E1630;
}

html::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: var(--clr-red);
}

body {
  margin: 0;
  padding: 0;
  font-size: var(--fs-body);
  font-family: var(--ff-primary);
  line-height: 1.6;
  background-color: var(--clr-yellow);
  background-size: cover;
  background-repeat: no-repeat;
}

h1, h2, h4, h5, h6 {
    line-height: 1;
    margin: 0;
    font-weight: var(--fw-reg);
}

h3 {
  color: var(--clr-dark);
}

p {
  color: var(--clr-gray);
}

.blue {
  color: var(--clr-blue);
}

.gold {
 color: var(--clr-gold);
}

.red {
  color: var(--clr-attn);
  position: absolute;
  top: 55%;
  left: 38%;
  font-size: var(--fs-body);
  font-weight: var(--fs-bold);
  text-transform: uppercase;
  font-family: var(--ff-secondary);
}

.r-red {
  color: var(--clr-attn);
  position: absolute;
  top: 50%;
  left: 30%;
  font-size: var(--fs-small);
  font-weight: var(--fs-bold);
  text-transform: uppercase;
  font-family: var(--ff-secondary);
  text-align: justify;
}

.orange {
  color: var(--clr-orange);
}


button {
  cursor: pointer;
}

@media (min-width: 800px) {
  :root {
      --fs-h1: 4.5rem;
      --fs-h2: 3.75rem;
      --fs-h3: 1.5rem;
      --fs-body: 1.125rem;
  }
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .red {
      top: 50%;
      left: 15%;
      font-size: var(--fs-small);
    }
  }

  @media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .red {
      top: 40%;
      left: 15%;
      font-size: var(--fs-small);
    }
}

@media only screen 
  and (min-device-width: 400px) 
  and (max-device-width: 568px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .red {
      top: 70%;
      left: 16%;
      font-size: var(--fs-small);
    }
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .red {
      top: 50%;
      left: 32%;
      font-size: var(--fs-body);
    }
}

@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .red {
      top: 50%;
      left: 32%;
      font-size: var(--fs-body);
    }
}



